body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}
.ToDoListWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8dafaf;
  padding: 20px;
  box-sizing: border-box;
}
.custom-checkbox .ant-checkbox-inner {
  border-color: #000; /* Ajusta el color del borde del checkbox */
  background-color: transparent; /* Hace que el fondo del checkbox sea transparente */
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black; /* Hace que el fondo del checkbox sea transparente cuando está marcado */
  border-color: #000; /* Ajusta el color del borde cuando el checkbox está marcado */
}

.custom-checkbox .ant-checkbox:hover .ant-checkbox-inner,
.custom-checkbox .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #000; /* Ajusta el color del borde del checkbox en hover y focus */
}

.custom-checkbox .ant-checkbox-checked:hover .ant-checkbox-inner,
.custom-checkbox
  .ant-checkbox-checked
  .ant-checkbox-input:focus
  + .ant-checkbox-inner {
  background-color: #000; /* Ajusta el color de fondo del checkbox en hover y focus cuando está marcado */
  border-color: #000; /* Ajusta el color del borde del checkbox en hover y focus cuando está marcado */
}

.custom-checkbox.ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
.custom-checkbox.ant-checkbox-wrapper
  .ant-checkbox-input:focus
  + .ant-checkbox-inner {
  border-color: #000; /* Ajusta el color del borde del checkbox en hover y focus */
}

.custom-checkbox.ant-checkbox-wrapper:hover
  .ant-checkbox-checked
  .ant-checkbox-inner,
.custom-checkbox.ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-input:focus
  + .ant-checkbox-inner {
  background-color: #585858; /* Ajusta el color de fondo del checkbox en hover y focus cuando está marcado */
  border-color: #585858; /* Ajusta el color del borde del checkbox en hover y focus cuando está marcado */
}

.custom-checkbox .ant-checkbox-inner {
  width: 20px; /* Adjust the size of the checkbox */
  height: 20px; /* Adjust the size of the checkbox */
  border-color: #585858; /* Adjust the color of the checkbox border */
  background-color: transparent; /* Make the checkbox background transparent */
}
.strikethrough {
  text-decoration: line-through;
  color: #585858;
}
